<html>

<head>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <script src='/jquery.js'></script>

  <style>

    .col {
      width: 300px;
      display: inline-block;
      overflow:hidden;
      height:100%;
    }
    .col img {
      width:100%;
    }
    .properties {
      overflow:scroll;
    }

    .codes {
      width: auto;
      white-space: nowrap;
    }
  </style>
</head>

<body>

  <div class='codes'>
    {{#each outcodes}}
    <div class='col' id='{{outcode}}'>
      <span class='header'>{{outcode}} - {{count||0}}</span>
      <div class='ranges'>
        {{#each bands}}
        <input type='radio' name='{{outcode}}_range' id='{{outcode}}_range_{{@index}}' data-range='{{@index}}' />
        <label for='{{outcode}}_range_{{@index}}'>{{min}} - {{max}}</label>
        <br /> {{/each}}
      </div>
      <hr />
      <div class='categories'>
        <input type='radio' name='{{outcode}}_cat' id='{{outcode}}_cat_0' data-category='needsWork' />
        <label for='{{outcode}}_cat_0'>Needs Work</label>
        <br />
        <input type='radio' name='{{outcode}}_cat' id='{{outcode}}_cat_1' data-category='newBuild' />
        <label for='{{outcode}}_cat_1'>New Build</label>
        <br />
        <input type='radio' name='{{outcode}}_cat' id='{{outcode}}_cat_2' data-category='swimmingPool' />
        <label for='{{outcode}}_cat_2'>Swimming Pool</label>
        <br />
        <input type='radio' name='{{outcode}}_cat' id='{{outcode}}_cat_3' data-category='unclassified' />
        <label for='{{outcode}}_cat_3'>Unclassified</label>
      </div>
      <hr />
      <div class='properties'>

      </div>
    </div>
    {{/each}}
  </div>
</body>

<script>
  $('input[type=radio]').on('change', function(e) {
    var outcode = $(e.target).closest('.col').attr('id');
    $.get('/properties/' + outcode +
      '/' +
      $(e.target).closest('.col').find('.ranges input:checked').attr('data-range') +
      '/' +
      $(e.target).closest('.col').find('.categories input:checked').attr('data-category'),
      function(properties) {
        $(e.target).closest('.col').find('.properties').eq(0).html('').append(
          properties.map(function(property) {
            return $('<div>').append(
              $('<a>').attr('href', 'http://www.rightmove.co.uk/property-for-sale/property-' + property.identifier + '.html').append(
                //$('<img>').attr('src', property.photoLargeThumbnailUrl)
              ).append(
                $('<span>').text(property.summary)
              )
            ).prepend(
              $('<h3>').text(property.address +' - £'+property.price)
            )
          })
        );
      });
  });
</script>

</html>
